<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>cover_report/ts_config_amqp.html</title>
</head><body style='background-color: white; color: black'>
<pre>
File generated from /home/developer/tsung-1.6.0/ebin-test/../src/tsung_controller/ts_config_amqp.erl by COVER 2016-02-25 at 08:08:27

****************************************************************************

        |  %%%  This code was developped by Zhihui Jiao(jzhihui521@gmail.com).
        |  %%%
        |  %%%  Copyright (C) 2013 Zhihui Jiao
        |  %%%
        |  %%%  This program is free software; you can redistribute it and/or modify
        |  %%%  it under the terms of the GNU General Public License as published by
        |  %%%  the Free Software Foundation; either version 2 of the License, or
        |  %%%  (at your option) any later version.
        |  %%%
        |  %%%  This program is distributed in the hope that it will be useful,
        |  %%%  but WITHOUT ANY WARRANTY; without even the implied warranty of
        |  %%%  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        |  %%%  GNU General Public License for more details.
        |  %%%
        |  %%%  You should have received a copy of the GNU General Public License
        |  %%%  along with this program; if not, write to the Free Software
        |  %%%  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
        |  %%%
        |  %%%  In addition, as a special exception, you have the permission to
        |  %%%  link the code of this program with any library released under
        |  %%%  the EPL license and distribute linked combinations including
        |  %%%  the two; the MPL (Mozilla Public License), which EPL (Erlang
        |  %%%  Public License) is based on, is included in this exception.
        |  
        |  -module(ts_config_amqp).
        |  
        |  -vc('$Id$ ').
        |  -author('jzhihui521@gmail.com').
        |  
        |  -export([parse_config/2]).
        |  
        |  -include("ts_profile.hrl").
        |  -include("ts_config.hrl").
        |  -include("ts_amqp.hrl").
        |  
        |  -include("xmerl.hrl").
        |  
        |  %%----------------------------------------------------------------------
        |  %% Func: parse_config/2
        |  %% Args: Element, Config
        |  %% Returns: List
        |  %% Purpose: parse a request defined in the XML config file
        |  %%----------------------------------------------------------------------
        |  %% Parsing other elements
        |  parse_config(Element = #xmlElement{name = dyn_variable}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element, Conf);</font>
        |  parse_config(Element = #xmlElement{name = amqp},
        |               Config = #config{curid = Id, session_tab = Tab,
        |                                sessions = [CurS | _], dynvar = DynVar,
        |                                subst = SubstFlag, match = MatchRegExp}) -&gt;
<font color=red>     0..|      initialize_options(Tab),</font>
        |  
<font color=red>     0..|      TypeStr = ts_config:getAttr(string, Element#xmlElement.attributes, type),</font>
<font color=red>     0..|      Type = list_to_atom(TypeStr),</font>
        |  
<font color=red>     0..|      ReqList = case Type of</font>
        |          %% connection.open request, we add all the requests to be done
        |          'connection.open' -&gt;
<font color=red>     0..|              ['connect', 'connection.start_ok', 'connection.tune_ok',</font>
        |               'connection.open'];
        |          'waitForConfirms' -&gt;
<font color=red>     0..|              Timeout = ts_config:getAttr(float_or_integer,</font>
        |                                          Element#xmlElement.attributes,
        |                                          timeout, 1),
<font color=red>     0..|              ets:insert(Tab, {{CurS#session.id, Id}, {thinktime, Timeout * 1000}}),</font>
<font color=red>     0..|              [];</font>
        |          'waitForMessages' -&gt;
<font color=red>     0..|              Timeout = ts_config:getAttr(float_or_integer,</font>
        |                                          Element#xmlElement.attributes,
        |                                          timeout, 60),
<font color=red>     0..|              ets:insert(Tab, {{CurS#session.id, Id}, {thinktime, Timeout * 1000}}),</font>
<font color=red>     0..|              [];</font>
        |          _ -&gt;
<font color=red>     0..|              [Type]</font>
        |      end,
<font color=red>     0..|      Result = lists:foldl(fun(RequestType, CurrId) -&gt;</font>
<font color=red>     0..|                  {Ack, Request} = parse_request(Element, RequestType, Tab),</font>
<font color=red>     0..|                  Msg = #ts_request{ack = Ack,</font>
        |                                    endpage = true,
        |                                    dynvar_specs  = DynVar,
        |                                    subst   = SubstFlag,
        |                                    match   = MatchRegExp,
        |                                    param   = Request},
<font color=red>     0..|                  ets:insert(Tab, {{CurS#session.id, CurrId}, Msg}),</font>
<font color=red>     0..|                  CurrId + 1</font>
        |          end, Id, ReqList),
        |  
<font color=red>     0..|      ResultId = case ReqList of</font>
<font color=red>     0..|          [] -&gt; Id;</font>
<font color=red>     0..|          _ -&gt; Result - 1</font>
        |      end,
        |      
<font color=red>     0..|      ts_config:mark_prev_req(Id - 1, Tab, CurS),</font>
        |  
<font color=red>     0..|      lists:foldl(fun(A, B) -&gt; ts_config:parse(A, B) end,</font>
        |                  Config#config{dynvar = [], curid = ResultId},
        |                  Element#xmlElement.content);
        |  
        |  %% Parsing options
        |  parse_config(Element = #xmlElement{name=option}, Conf = #config{session_tab = Tab}) -&gt;
<font color=red>     0..|      NewConf = case ts_config:getAttr(Element#xmlElement.attributes, name) of</font>
        |          "username" -&gt;
<font color=red>     0..|              Val = ts_config:getAttr(string,Element#xmlElement.attributes,</font>
        |                                      value,?AMQP_USER),
<font color=red>     0..|              ets:insert(Tab,{{amqp_username,value}, Val}),</font>
<font color=red>     0..|              Conf;</font>
        |          "password" -&gt;
<font color=red>     0..|              Val = ts_config:getAttr(string,Element#xmlElement.attributes,</font>
        |                                      value,?AMQP_PASSWORD),
<font color=red>     0..|              ets:insert(Tab,{{amqp_password,value}, Val}),</font>
<font color=red>     0..|              Conf;</font>
        |          "heartbeat" -&gt;
<font color=red>     0..|              Val = ts_config:getAttr(float_or_integer,</font>
        |                                      Element#xmlElement.attributes, value, 600),
<font color=red>     0..|              ets:insert(Tab,{{amqp_heartbeat,value}, Val}),</font>
<font color=red>     0..|              Conf</font>
        |      end,
<font color=red>     0..|      lists:foldl(fun(A,B) -&gt; ts_config:parse(A,B) end,</font>
        |                  NewConf, Element#xmlElement.content);
        |  
        |  %% Parsing other elements
        |  parse_config(Element = #xmlElement{}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element,Conf);</font>
        |  %% Parsing non #xmlElement elements
        |  parse_config(_, Conf = #config{}) -&gt;
<font color=red>     0..|      Conf.</font>
        |  
        |  parse_request(Element, Type = 'connection.open', _Tab) -&gt;
<font color=red>     0..|      Vhost = ts_config:getAttr(string, Element#xmlElement.attributes, vhost, "/"),</font>
<font color=red>     0..|      Request = #amqp_request{type = Type, vhost = Vhost},</font>
<font color=red>     0..|      {parse, Request};</font>
        |  parse_request(_Element, Type = 'connection.start_ok', Tab) -&gt;
<font color=red>     0..|      UserName = ts_config:get_default(Tab, amqp_username),</font>
<font color=red>     0..|      Password = ts_config:get_default(Tab, amqp_password),</font>
<font color=red>     0..|      Request = #amqp_request{type = Type, username = UserName,</font>
        |                              password = Password},
<font color=red>     0..|      {parse, Request};</font>
        |  parse_request(_Element, Type = 'connection.tune_ok', Tab) -&gt;
<font color=red>     0..|      HeartBeat = ts_config:get_default(Tab, amqp_heartbeat),</font>
<font color=red>     0..|      Request = #amqp_request{type = Type, heartbeat = HeartBeat},</font>
<font color=red>     0..|      {no_ack, Request};</font>
        |  parse_request(Element, Type = 'channel.open', _Tab) -&gt;
<font color=red>     0..|      Channel = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                  channel, "0"),
<font color=red>     0..|      Request = #amqp_request{type = Type, channel = Channel},</font>
<font color=red>     0..|      {parse, Request};</font>
        |  parse_request(Element, Type = 'basic.publish', _Tab) -&gt;
<font color=red>     0..|      Channel = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                  channel, "1"),
<font color=red>     0..|      Exchange = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                   exchange, ""),
<font color=red>     0..|      RoutingKey = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                     routing_key, "/"),
<font color=red>     0..|      Size = ts_config:getAttr(float_or_integer, Element#xmlElement.attributes,</font>
        |                               payload_size, 100),
<font color=red>     0..|      PersistentStr = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                        persistent, "false"),
<font color=red>     0..|      Payload = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                        payload, ""),
<font color=red>     0..|      Persistent = list_to_atom(PersistentStr),</font>
<font color=red>     0..|      Request = #amqp_request{type = Type, channel = Channel, exchange = Exchange,</font>
        |                              routing_key = RoutingKey, payload_size = Size,
        |                              payload = Payload, persistent = Persistent},
<font color=red>     0..|      {no_ack, Request};</font>
        |  parse_request(Element, Type = 'basic.consume', _Tab) -&gt;
<font color=red>     0..|      Channel = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                  channel, "1"),
<font color=red>     0..|      Queue = ts_config:getAttr(string, Element#xmlElement.attributes, queue, ""),</font>
<font color=red>     0..|      AckStr = ts_config:getAttr(string,</font>
        |                                 Element#xmlElement.attributes, ack, "false"),
<font color=red>     0..|      Ack = list_to_atom(AckStr),</font>
<font color=red>     0..|      Request = #amqp_request{type = Type, channel = Channel,</font>
        |                              queue = Queue, ack = Ack},
<font color=red>     0..|      {parse, Request};</font>
        |  parse_request(Element, Type = 'basic.qos', _Tab) -&gt;
<font color=red>     0..|      Channel = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                  channel, "1"),
<font color=red>     0..|      PrefetchSize = ts_config:getAttr(float_or_integer,</font>
        |                                Element#xmlElement.attributes, prefetch_size, 0),
<font color=red>     0..|      PrefetchCount = ts_config:getAttr(float_or_integer,</font>
        |                                Element#xmlElement.attributes, prefetch_count, 0),
<font color=red>     0..|      Request = #amqp_request{type = Type, channel = Channel,</font>
        |                              prefetch_size = PrefetchSize,
        |                              prefetch_count = PrefetchCount},
<font color=red>     0..|      {parse, Request};</font>
        |  parse_request(Element, Type, _Tab) -&gt;
<font color=red>     0..|      Channel = ts_config:getAttr(string, Element#xmlElement.attributes,</font>
        |                                  channel, "1"),
<font color=red>     0..|      Request = #amqp_request{type = Type, channel = Channel},</font>
<font color=red>     0..|      {parse, Request}.</font>
        |  
        |  
        |  initialize_options(Tab) -&gt;
<font color=red>     0..|      case ts_config:get_default(Tab, amqp_initialized) of</font>
        |          {undef_var, _} -&gt;
<font color=red>     0..|              ets:insert_new(Tab,{{amqp_username,value}, ?AMQP_USER}),</font>
<font color=red>     0..|              ets:insert_new(Tab,{{amqp_password,value}, ?AMQP_PASSWORD}),</font>
<font color=red>     0..|              ets:insert_new(Tab,{{amqp_heartbeat,value}, 600});</font>
        |          _Else -&gt;
<font color=red>     0..|              ok</font>
        |      end.
</pre>
</body>
</html>
