<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>cover_report/ts_config_shell.html</title>
</head><body style='background-color: white; color: black'>
<pre>
File generated from /home/developer/tsung-1.6.0/ebin-test/../src/tsung_controller/ts_config_shell.erl by COVER 2016-02-25 at 08:08:28

****************************************************************************

        |  %%%
        |  %%%  Copyright 2010 © INRIA
        |  %%%
        |  %%%  Author : Nicolas Niclausse &lt;nniclaus@sophia.inria.fr&gt;
        |  %%%  Created: 18 août 2010 by Nicolas Niclausse &lt;nniclaus@sophia.inria.fr&gt;
        |  %%%
        |  %%%  This program is free software; you can redistribute it and/or modify
        |  %%%  it under the terms of the GNU General Public License as published by
        |  %%%  the Free Software Foundation; either version 2 of the License, or
        |  %%%  (at your option) any later version.
        |  %%%
        |  %%%  This program is distributed in the hope that it will be useful,
        |  %%%  but WITHOUT ANY WARRANTY; without even the implied warranty of
        |  %%%  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        |  %%%  GNU General Public License for more details.
        |  %%%
        |  %%%  You should have received a copy of the GNU General Public License
        |  %%%  along with this program; if not, write to the Free Software
        |  %%%  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
        |  %%%
        |  %%%  In addition, as a special exception, you have the permission to
        |  %%%  link the code of this program with any library released under
        |  %%%  the EPL license and distribute linked combinations including
        |  %%%  the two; the MPL (Mozilla Public License), which EPL (Erlang
        |  %%%  Public License) is based on, is included in this exception.
        |  
        |  
        |  -module(ts_config_shell).
        |  -vc('$Id$ ').
        |  -author('nicolas.niclausse@sophia.inria.fr').
        |  
        |  -export([parse_config/2]).
        |  
        |  -include("ts_profile.hrl").
        |  -include("ts_http.hrl").
        |  -include("ts_config.hrl").
        |  
        |  -include("xmerl.hrl").
        |  
        |  -include("ts_shell.hrl").
        |  
        |  %% @spec parse_config(#xmlElement{}, Config::term()) -&gt; NewConfig::term()
        |  %% @doc Parses a tsung.xml configuration file xml element for this
        |  %% protocol and updates the Config term.
        |  %% @end
        |  parse_config(Element = #xmlElement{name=dyn_variable}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element,Conf);</font>
        |  parse_config(Element = #xmlElement{name=shell},
        |               Config=#config{curid = Id, session_tab = Tab,
        |                              sessions = [CurS | _], dynvar=DynVar,
        |                              subst    = SubstFlag, match=MatchRegExp}) -&gt;
        |  
<font color=red>     0..|      Cmd  = ts_config:getAttr(string,Element#xmlElement.attributes, cmd),</font>
<font color=red>     0..|      Args  = ts_config:getAttr(string,Element#xmlElement.attributes, args, ""),</font>
        |  
<font color=red>     0..|      Request = #shell{command=Cmd,args=Args},</font>
<font color=red>     0..|      Msg= #ts_request{ack     = parse,</font>
        |                       endpage = true,
        |                       dynvar_specs  = DynVar,
        |                       subst   = SubstFlag,
        |                       match   = MatchRegExp,
        |                       param   = Request},
        |  
<font color=red>     0..|      ts_config:mark_prev_req(Id-1, Tab, CurS),</font>
<font color=red>     0..|      ets:insert(Tab,{{CurS#session.id, Id},Msg}),</font>
<font color=red>     0..|      lists:foldl( fun(A,B)-&gt;ts_config:parse(A,B) end, Config#config{dynvar=[]},</font>
        |                   Element#xmlElement.content);
        |  %% Parsing other elements
        |  parse_config(Element = #xmlElement{}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element,Conf);</font>
        |  %% Parsing non #xmlElement elements
        |  parse_config(_, Conf = #config{}) -&gt;
<font color=red>     0..|      Conf.</font>
</pre>
</body>
</html>
