<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>cover_report/ts_config_websocket.html</title>
</head><body style='background-color: white; color: black'>
<pre>
File generated from /home/developer/tsung-1.6.0/ebin-test/../src/tsung_controller/ts_config_websocket.erl by COVER 2016-02-25 at 08:08:28

****************************************************************************

        |  %%%  This code was developped by Zhihui Jiao(jzhihui521@gmail.com).
        |  %%%
        |  %%%  Copyright (C) 2013 Zhihui Jiao
        |  %%%
        |  %%%  This program is free software; you can redistribute it and/or modify
        |  %%%  it under the terms of the GNU General Public License as published by
        |  %%%  the Free Software Foundation; either version 2 of the License, or
        |  %%%  (at your option) any later version.
        |  %%%
        |  %%%  This program is distributed in the hope that it will be useful,
        |  %%%  but WITHOUT ANY WARRANTY; without even the implied warranty of
        |  %%%  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        |  %%%  GNU General Public License for more details.
        |  %%%
        |  %%%  You should have received a copy of the GNU General Public License
        |  %%%  along with this program; if not, write to the Free Software
        |  %%%  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
        |  %%%
        |  %%%  In addition, as a special exception, you have the permission to
        |  %%%  link the code of this program with any library released under
        |  %%%  the EPL license and distribute linked combinations including
        |  %%%  the two; the MPL (Mozilla Public License), which EPL (Erlang
        |  %%%  Public License) is based on, is included in this exception.
        |  
        |  -module(ts_config_websocket).
        |  
        |  -vc('$Id$ ').
        |  -author('jzhihui521@gmail.com').
        |  
        |  -export([parse_config/2]).
        |  
        |  -include("ts_profile.hrl").
        |  -include("ts_config.hrl").
        |  -include("ts_websocket.hrl").
        |  
        |  -include("xmerl.hrl").
        |  
        |  %%----------------------------------------------------------------------
        |  %% Func: parse_config/2
        |  %% Args: Element, Config
        |  %% Returns: List
        |  %% Purpose: parse a request defined in the XML config file
        |  %%----------------------------------------------------------------------
        |  %% Parsing other elements
        |  parse_config(Element = #xmlElement{name = dyn_variable}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element, Conf);</font>
        |  parse_config(Element = #xmlElement{name = websocket},
        |               Config = #config{curid = Id, session_tab = Tab,
        |                                sessions = [CurS | _], dynvar = DynVar,
        |                                subst = SubstFlag, match = MatchRegExp}) -&gt;
<font color=red>     0..|      Type = ts_config:getAttr(atom, Element#xmlElement.attributes, type),</font>
<font color=red>     0..|      ValRaw = ts_config:getText(Element#xmlElement.content),</font>
<font color=red>     0..|      Path = ts_config:getAttr(string, Element#xmlElement.attributes, path, "/"),</font>
<font color=red>     0..|      Frame = ts_config:getAttr(string, Element#xmlElement.attributes, frame,</font>
        |                                "binary"),
        |  
        |      %%is this needed ?
<font color=red>     0..|      CleanStr = ts_utils:clean_str(ValRaw),</font>
<font color=red>     0..|      Request = #websocket_request{data = CleanStr, type = Type,</font>
        |                                   path = Path, frame = Frame},
        |  
<font color=red>     0..|      Ack = case Type of</font>
        |                message -&gt;
<font color=red>     0..|                    ts_config:getAttr(atom, Element#xmlElement.attributes,</font>
        |                                      ack, parse);
        |                _ -&gt;
<font color=red>     0..|                    parse</font>
        |            end,
        |  
<font color=red>     0..|      Msg = #ts_request{ack = Ack,</font>
        |                        endpage = true,
        |                        dynvar_specs  = DynVar,
        |                        subst   = SubstFlag,
        |                        match   = MatchRegExp,
        |                        param   = Request},
        |  
<font color=red>     0..|      ts_config:mark_prev_req(Id-1, Tab, CurS),</font>
<font color=red>     0..|      ets:insert(Tab, {{CurS#session.id, Id}, Msg }),</font>
<font color=red>     0..|      lists:foldl( fun(A, B)-&gt;ts_config:parse(A, B) end,</font>
        |                   Config#config{dynvar = []},
        |                   Element#xmlElement.content);
        |  
        |  %% Parsing other elements
        |  parse_config(Element = #xmlElement{}, Conf = #config{}) -&gt;
<font color=red>     0..|      ts_config:parse(Element,Conf);</font>
        |  %% Parsing non #xmlElement elements
        |  parse_config(_, Conf = #config{}) -&gt;
<font color=red>     0..|      Conf.</font>
        |  
</pre>
</body>
</html>
