<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>cover_report/ts_recorder_sup.html</title>
</head><body style='background-color: white; color: black'>
<pre>
File generated from /home/developer/tsung-1.6.0/ebin-test/../src/tsung_recorder/ts_recorder_sup.erl by COVER 2016-02-25 at 08:08:27

****************************************************************************

        |  %%%
        |  %%%  Copyright © IDEALX S.A.S. 2003
        |  %%%
        |  %%%  Author : Nicolas Niclausse &lt;nicolas.niclausse@niclux.org&gt;
        |  %%%  Created: 22 Dec 2003 by Nicolas Niclausse &lt;nicolas.niclausse@niclux.org&gt;
        |  %%%
        |  %%%  This program is free software; you can redistribute it and/or modify
        |  %%%  it under the terms of the GNU General Public License as published by
        |  %%%  the Free Software Foundation; either version 2 of the License, or
        |  %%%  (at your option) any later version.
        |  %%%
        |  %%%  This program is distributed in the hope that it will be useful,
        |  %%%  but WITHOUT ANY WARRANTY; without even the implied warranty of
        |  %%%  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        |  %%%  GNU General Public License for more details.
        |  %%%
        |  %%%  You should have received a copy of the GNU General Public License
        |  %%%  along with this program; if not, write to the Free Software
        |  %%%  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
        |  %%%
        |  %%%  In addition, as a special exception, you have the permission to
        |  %%%  link the code of this program with any library released under
        |  %%%  the EPL license and distribute linked combinations including
        |  %%%  the two; the MPL (Mozilla Public License), which EPL (Erlang
        |  %%%  Public License) is based on, is included in this exception.
        |  
        |  %%%-------------------------------------------------------------------
        |  %%% File    : ts_recorder_sup.erl
        |  %%% Author  :  &lt;nicolas.niclaussse@IDEALX.com&gt;
        |  %%% Description :
        |  %%% Created : 22 Dec 2003 by Nicolas Niclausse &lt;nicolas@niclux.org&gt;
        |  %%%-------------------------------------------------------------------
        |  
        |  -module(ts_recorder_sup).
        |  -vc('$Id$ ').
        |  -author('nicolas.niclausse@niclux.org').
        |  
        |  -include("ts_macros.hrl").
        |  
        |  -behaviour(supervisor).
        |  
        |  %% External exports
        |  -export([start_link/0]).
        |  
        |  %% supervisor callbacks
        |  -export([init/1]).
        |  
        |  %%%----------------------------------------------------------------------
        |  %%% API
        |  %%%----------------------------------------------------------------------
        |  start_link() -&gt;
<font color=red>     0..|      ?LOG("starting supervisor ...~n",?INFO),</font>
<font color=red>     0..|      supervisor:start_link({local, ?MODULE}, ?MODULE, []).</font>
        |  
        |  %%%----------------------------------------------------------------------
        |  %%% Callback functions from supervisor
        |  %%%----------------------------------------------------------------------
        |  
        |  %%----------------------------------------------------------------------
        |  %% Func: init/1
        |  %% Returns: {ok,  {SupFlags,  [ChildSpec]}} |
        |  %%          ignore                          |
        |  %%          {error, Reason}
        |  %%----------------------------------------------------------------------
        |  init([]) -&gt;
<font color=red>     0..|      ?LOG("starting",?INFO),</font>
<font color=red>     0..|      ClientsSup = {ts_client_proxy_sup, {ts_client_proxy_sup, start_link, []},</font>
        |                    permanent, 2000, supervisor, [ts_client_proxy_sup]},
<font color=red>     0..|      Recorder = {ts_proxy_recorder,</font>
        |                  {ts_proxy_recorder, start, [?config(proxy_log_file)]},
        |                  transient, 2000, worker, [ts_proxy_recorder]},
<font color=red>     0..|      Listener = {ts_proxy_listener, {ts_proxy_listener, start, []},</font>
        |                  transient, 2000, worker, [ts_proxy_listener]},
<font color=red>     0..|      {ok,{{one_for_one,?retries,10}, [ClientsSup, Recorder,Listener ]}}.</font>
        |  
        |  %%%----------------------------------------------------------------------
        |  %%% Internal functions
        |  %%%----------------------------------------------------------------------
        |  
</pre>
</body>
</html>
