<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>cover_report/ts_ssl_session_cache.html</title>
</head><body style='background-color: white; color: black'>
<pre>
File generated from /home/developer/tsung-1.6.0/ebin-test/../src/tsung/ts_ssl_session_cache.erl by COVER 2016-02-25 at 08:08:27

****************************************************************************

        |  %%%
        |  %%%  Copyright 2014 (c) Nicolas Niclausse
        |  %%%
        |  %%%  Author : Nicolas Niclausse &lt;nicolas@niclux.org&gt;
        |  %%%  Created: 15 avril 2014 by Nicolas Niclausse &lt;nicolas@niclux.org&gt;
        |  %%%
        |  %%%  This program is free software; you can redistribute it and/or modify
        |  %%%  it under the terms of the GNU General Public License as published by
        |  %%%  the Free Software Foundation; either version 2 of the License, or
        |  %%%  (at your option) any later version.
        |  %%%
        |  %%%  This program is distributed in the hope that it will be useful,
        |  %%%  but WITHOUT ANY WARRANTY; without even the implied warranty of
        |  %%%  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        |  %%%  GNU General Public License for more details.
        |  %%%
        |  %%%  You should have received a copy of the GNU General Public License
        |  %%%  along with this program; if not, write to the Free Software
        |  %%%  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
        |  %%%
        |  
        |  -module(ts_ssl_session_cache).
        |  -vc('$Id: ts_ssl_session_cache.erl,v 0.0 2014/04/15 07:28:58 nniclaus Exp $ ').
        |  -author('nicolas@niclux.org').
        |  
        |  -behaviour(ssl_session_cache_api).
        |  
        |  -include("ts_macros.hrl").
        |  
        |  -export([init/1, terminate/1, lookup/2, update/3, delete/2, foldl/3,
        |           select_session/2]).
        |  
        |  %%--------------------------------------------------------------------
        |  %% Description: Return table reference. Called by ssl_manager process.
        |  %%--------------------------------------------------------------------
        |  init(_) -&gt;
<font color=red>     0..|      ets:new(cache_name(), [protected]).</font>
        |  
        |  terminate(Cache) -&gt;
<font color=red>     0..|      ets:delete(Cache).</font>
        |  
        |  lookup(Cache, Key) -&gt;
<font color=red>     0..|      ?DebugF("Lookup key ~p from session cache",[Key]),</font>
<font color=red>     0..|      case ets:lookup(Cache, Key) of</font>
        |          [{Key, Session}] -&gt;
<font color=red>     0..|              Session;</font>
        |          [] -&gt;
<font color=red>     0..|              undefined</font>
        |      end.
        |  
        |  update(Cache, Key, Session) -&gt;
<font color=red>     0..|      case application:get_env(tsung,ssl_session_cache) of</font>
        |          {ok, 0} -&gt;
<font color=red>     0..|              ?Debug("SSL session cache is disabled, skip");</font>
        |          _ -&gt;
<font color=red>     0..|              ?DebugF("SSL update entry ~p ~p",[Key,Session]),</font>
<font color=red>     0..|              ets:insert(Cache, {Key, Session})</font>
        |      end.
        |  delete(Cache, Key) -&gt;
<font color=red>     0..|      ?DebugF("Delete key from session cache ~p",[Key]),</font>
<font color=red>     0..|      ets:delete(Cache, Key).</font>
        |  
        |  foldl(Fun, Acc0, Cache) -&gt;
<font color=red>     0..|      ets:foldl(Fun, Acc0, Cache).</font>
        |  
        |  select_session(Cache, PartialKey) -&gt;
<font color=red>     0..|      ?DebugF("SSL cache select ~p",[PartialKey]),</font>
<font color=red>     0..|      Res= ets:select(Cache,</font>
        |                      [{{{PartialKey,'$1'}, '$2'},[],['$$']}]),
<font color=red>     0..|      Res.</font>
        |  
        |  %%--------------------------------------------------------------------
        |  %%% Internal functions
        |  %%--------------------------------------------------------------------
        |  cache_name() -&gt;
<font color=red>     0..|      ts_ssl_session_cache.</font>
</pre>
</body>
</html>
